﻿<div class="page-header">
    <h1>
        Editar Poliza
    </h1>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <label for="pno">Nombre:</label>
            <input type="text" class="form-control" id="pno" ng-model="PolizaCommand.Name">
            <label for="ds">Descripción</label>
            <input type="text" class="form-control" id="ds" ng-model="PolizaCommand.Description" />
            <label for="vl">Valor:</label>
            <input type="text" class="form-control" id="vl" ng-model="PolizaCommand.Price" />
            <label for="vg">Vigencia:</label>
            <input type="text" class="form-control" id="vg" ng-model="PolizaCommand.TimeFrame" />
            <label for="ac">Riesgo</label>
            <select class="form-control" ng-model="PolizaCommand2" ng-options="rs as rs.LevelName for rs in ListaRiesgos track by rs.RiskId">
                <option value="">--Elige opcion--</option>
            </select>

        </div>
    </div>
</div>

<div class="row" ng-show="Message.length > 0">
    <div class="col-md-8 col-md-offset-2 alert alert-danger">
        <strong>{{Message}}</strong>
        <br />
        <ul>
            <li ng-repeat="m in Messages">
                {{m}}
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <a ui-sref="Poliza" class="btn btn-danger btn-block">Cancelar</a>
    </div>
    <div class="col-md-4 col">
        <div ng-hide="IsPosting" class="btn btn-success btn-block" ng-click="EditarPoliza()">Adicionar</div>
        <div ng-show="IsPosting" class="btn btn-success btn-block" ng-disabled="true">Adicionando <i class="fa fa-spin fa-spinner"></i></div>
    </div>
</div>