﻿<div class="jumbotron">
    <h1>Bienvenido al Sistema de Pólizas!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac tincidunt metus, eget imperdiet dolor. Nunc vitae diam sit amet enim volutpat facilisis at at nisi. </p>
</div>
