﻿
<div class="page-header">
    <h1>
        Clientes
    </h1>

</div>
<h3>Clientes Disponibles</h3>


<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th class="col-md-4">ID</th>
                        <th class="col-md-4">Nombre</th>
                        <th class="col-md-4">Apellido</th>
                        <th class="col-md-2">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Cli in ListaClientes">
                        <td>{{ Cli.ClientID }}</td>
                        <td>{{ Cli.Name }}</td>
                        <td>{{ Cli.LastName }}</td>
                        <td>
                            <i ng-click="AsociarPolizas(Cli.ClientID)" class="pointer glyphicon glyphicon-plus"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
