﻿
<div class="page-header">
    <h1>
        Pólizas
        <a ui-sref="CrearPoliza" class="btn btn-success pull-right">Adicionar <i class="glyphicon glyphicon-plus"></i></a>
    </h1>
    
</div>
<h3>Pólizas Disponibles</h3>


<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th class="col-md-2">ID</th>
                        <th class="col-md-2">Nombre</th>
                        <th class="col-md-2">Descripcion</th>
                        <th class="col-md-2">Valor</th>
                        <th class="col-md-2">Vigencia(Meses)</th>
                        <th class="col-md-2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Poli in ListaPolizas">
                        <td>{{ Poli.InsuranceId }}</td>
                        <td>{{ Poli.Name }}</td>
                        <td>{{ Poli.Description }}</td>
                        <td>{{ Poli.Price }}</td>
                        <td>{{ Poli.TimeFrame }}</td>
                        <td>
                            <i ng-click="IrAEditarPoliza(Poli.InsuranceId)" class="pointer glyphicon glyphicon-pencil"></i>
                            <i ng-click="EliminarPoliza(Poli.InsuranceId)" class="pointer glyphicon glyphicon-remove"></i>
                            <i ng-click="AsociarCovertura(Poli.InsuranceId)" class="pointer glyphicon glyphicon-plus"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
