﻿    <!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <link href="styles/bootstrap.css" rel="stylesheet" />
    <link href="styles/font-awesome.css" rel="stylesheet" />
    <link href="scripts/angular-toastr-notification/angular-toastr-notification.css" rel="stylesheet" />
    <link href="scripts/angular-sweet-alert/sweetalert.css" rel="stylesheet" />
    <link href="styles/site.css" rel="stylesheet" />

</head>
<body ng-app="AppSeguros" ng-controller="RootController" ng-cloak>
    <toaster-container></toaster-container>
    <!-- MENU SUPERIOR -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="Home">Sistema Pólizas</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="Home">Home</a></li>
                    <li><a ui-sref="Login" ng-hide="Authentication.IsAuth">Login</a></li>
                    <li><a ui-sref="Poliza" ng-hide="!Authentication.IsAuth">Pólizas</a></li>
                    <li><a ui-sref="Cliente" ng-hide="!Authentication.IsAuth">Clientes</a></li>
                    <!--<li><a ui-sref="" ng-hide="!Authentication.IsAuth">Pólizas</a></li>-->
                    <li><a ng-click="Logout()" ng-show="Authentication.IsAuth">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- FIN MENU SUPERIOR -->
    <!-- CONTENIDO DINAMICO -->
    <div class="container">
        <div ui-view></div>
    </div>
    <!-- FIN CONTENIDO DINAMICO -->
    <!-- GENERAL SCRIPTS -->
    <script src="scripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="scripts/bootstrap/bootstrap.js"></script>
    <script src="scripts/angular-sweet-alert/sweetalert.js"></script>

    <!-- ANGULAR ASSETS SCRIPTS -->
    <script src="scripts/angular/angular.min.js"></script>
    <script src="scripts/ui-router/angular-ui-router.min.js"></script>
    <script src="scripts/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="scripts/AngularFileUpload/ng-file-upload-shim.js"></script>
    <script src="scripts/AngularFileUpload/ng-file-upload.js"></script>
    <script src="scripts/angular-toastr-notification/angular-toastr-notification.js"></script>
    <script src="scripts/angular-sweet-alert/angular-sweetalert.js"></script>

    <!-- ANGULAR BASE APP SCRIPTS -->
    <script src="app/App.js"></script>
    <script src="app/shared/States.js"></script>
    <script src="app/shared/AuthenticationService.js"></script>
    <script src="app/shared/Directives.js"></script>
    <script src="app/shared/Interceptors.js"></script>
    <script src="app/shared/GeneralService.js"></script>
    <script src="app/shared/RootController.js"></script>

    <!-- ANGULAR COMPONENTS SCRIPTS -- SERVICES -->
    <script src="App/Components/Poliza/PolizaService.js"></script>
    <script src="App/Components/Seller/SellerService.js"></script>
    <script src="app/Components/Covertura/CoverturaService.js"></script>
    <script src="app/Components/Riesgo/RiesgoService.js"></script>
    <script src="app/Components/Cliente/ClienteService.js"></script>
    <!-- ANGULAR COMPONENTS SCRIPTS -- CONTROLLERS -->
    <script src="app/Components/Home/HomeController.js"></script>
    <script src="app/Components/Poliza/Polizas/PolizasController.js"></script>
    <script src="app/Components/Seller/Login/LoginController.js"></script>
    <script src="app/Components/Poliza/AddCovertura/AddCoverturasController.js"></script>
    <script src="app/Components/Poliza/CrearPoliza/CrearPolizaController.js"></script>
    <script src="app/Components/Poliza/EditarPoliza/EditarPolizaController.js"></script>
    <script src="app/Components/Cliente/Clientes/ClientesController.js"></script>
    <script src="app/Components/Cliente/AddPoliza/AddPolizaController.js"></script>
</body>
</html>
