﻿
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label for="usr">Usuario:</label>
            <input type="text" class="form-control" ng-model="SellerCommand.UserName">
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label for="usr">contraseña:</label>
            <input type="password" class="form-control" ng-model="SellerCommand.Password">
        </div>
    </div>
</div>


<div class="row" ng-show="Message.length > 0">
    <div class="col-md-5 alert alert-danger">
        <strong>{{Message}}</strong>
        <br />
        <ul>
            <li ng-repeat="m in Messages">
                {{m}}
            </li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-md-5">
        <div ng-hide="IsPosting" class="btn btn-success btn-block" ng-click="Login()">Entrar</div>
        <div ng-show="IsPosting" class="btn btn-success btn-block" ng-disabled="true">Entrando... <i class="fa fa-spin fa-spinner"></i></div>
    </div>
</div>